**/emacs/elpaca/
**/emacs/elpa/
**/emacs/eln-cache/
**/emacs/transient/
**/emacs/tree-sitter/
**/emacs/history
**/emacs/projects
**/emacs/recentf
**/emacs/places
**/emacs/auto-save-list/
**/emacs/url
**/emacs/eshell/
**/emacs/tramp
